*{
    /* box-sizing: border-box; */
}
body{
    background-color: dimgrey;
    padding:0;
    /* height: 100vh; */
}
#timebox{
    margin:auto;
    width:99%;
    background-color: azure;
    border-radius: 5px;
    /* margin-top:20%;
    margin-bottom:20%; */
    padding:2%;
}
.displaybox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    margin:auto;
    text-align: right;
}
.timedisplay{
    display: inline;
    background-color: rgba(16, 32, 61, 0.233);
    margin:auto;
    width:100%;
    padding:0.1% 0.2%;
    text-align: left;
    font-size: larger;

}
#currenttime{
}
#adjusttimebutton{
    background-color: cadetblue;
    border-radius: 25px;
    margin:auto;
    margin-top:5%;
    padding: 2%;
    width:20%;
    transition: all 0.5s;
    text-align: center;
}
#adjusttimebutton:hover{
    background: rgb(19,5,245);
    background: linear-gradient(0deg, rgba(19,5,245,1) 0%, rgba(9,9,121,1) 4%, rgba(0,212,255,1) 100%);
}